.box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: nowrap;
    gap: 16px;
}

.charmander {
    padding: 9px;
    border: 2px solid rgb(236, 172, 75);
}

.squirtle {
    padding: 9px;
    border: 2px solid rgb(64, 228, 240);
}

.bulbasaur {
    padding: 9px;
    border: 2px solid rgb(97, 230, 141);
}