.box {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 16px;
}

.pidgey {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.spearow {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

.rattata {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.ekans {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

.pidgey {
    padding: 9px;
    border: 2px solid rgb(236, 187, 82);
}

.spearow {
    padding: 9px;
    border: 2px solid rgb(153, 118, 85);
}

.rattata {
    padding: 9px;
    border: 2px solid rgb(218, 114, 218);
}

.ekans {
    padding: 9px;
    border: 2px solid rgb(231, 169, 233);
}